
.project {
    padding: 50px 0;
    margin-bottom: 200px;
}

.project_preview {
    width: 60%;
    padding-top: 265px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: blur(1px) hue-rotate(30deg);
    transition: filter 0.5s linear;
    position: relative;
}


.project_preview:hover {
    filter: none;
}

.project_preview > a {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.project .section_inner {
    margin: 10px 0 80px 0;
    position: relative;
}

.project_details_wrap {
    position: relative;
    width: 40%;
}

.project_details {
    color: #fff; 
    position: absolute;
    width: 140%;
    right: 0px;
    text-align: right;
}

.project_overline {
    font-size: 14px;
    font-family: var(--primary-font);
    color: var(--primary-color);
    margin-bottom: 5px;
} 

.project_title {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: var(--header-color);
    margin-bottom: 5px;
} 

.project_decriptions {
    background-color: #344b45f8;
    padding: 20px 24px 28px 24px;
    margin-bottom: 5px;
}

.project_details .list-group li{
    display: inline-block;
    padding: 0 5px;
}

.project_link p {
    display: inline-block;
    padding: 5px 5px;
    margin: 0 5px;
}

.project_link p a {
    font-size: 28px;
    color: var(--header-color);
}