
.contact {
    margin-bottom: 200px;
}

.form-group {
    padding-bottom: 10px;
}

.form-group label {
    color: var(--header-color);
    font-size: 18px;
    display: inline-block;
    padding-bottom: 4px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 8px 6px;
    font-size: 16px;
    outline: none;
    background: #1D2F3C;
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    border-radius: 2px;
}

.form-group textarea {
    resize: none;
}

.contact button {
    display: block; 
    background-color: transparent; 
    height: fit-content; 
    width: fit-content; 
    margin: 20px auto; 
    border: none;
}

.contact .status_message {
    text-align: center;
    font-size: 20px;
    color: var(--primary-color);
    animation: flyUp 2s linear forwards;
}

@keyframes flyUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-20px);
        opacity: 0;
    }
}
