
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    position: relative;
}

.header .logo {
    height: 50px;
    width: 50px;
}

.header .nav_bar {
    display: flex;
}

.header .nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    counter-reset: li;
    padding: 0 20px;
    font-family: var(--primary-font);
    height: 100%;
}

.nav__item {
    padding: 0 18px;
}

.nav__item:before {
    content: counter(li) '.';
    color: var(--primary-color);
    display: inline-block; 
    width: 1em;
    margin-right: 2px;
    counter-increment: li;
}

.nav__item a {
    color:  var(--text-color);
    text-decoration: none;
}

.nav__item:hover.nav_bar__item a {
    color: var(--primary-color);
}

.mobile_nav_btn {
    display: none;
    color: var(--primary-color);
    font-size: 30px;
    margin-left: 20px;
    transition-duration: 0.5s;
}

.mobile_nav_btn:hover {
    transform: rotate(90deg);
}